.AnimalsProtcolStatus {
  margin:20px
}

.AnimalsProtcolStatus .name {
  font-size:16pt;
}

.AnimalsProtcolStatus .desc {
  font-size:12pt;
  margin-bottom:10px;
}


.AnimalsProtcolStatus .timeline {
  margin-bottom:20px;
}

.AnimalsProtcolStatus .Days {
  font-weight:bold;
  margin-bottom:5px;
}

.AnimalsProtcolStatus .event {
  margin-left:20px;
}

.AnimalsProtcolStatus .treatments-container {
  margin-left:20px;
}

.Checkbox {
  margin-left:20px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}


.AnimalsProtcolStatus .Treatment {
  margin:5px 0px 10px 20px;
}

.AnimalsProtcolStatus .treatments-header {
  font-weight:bold;
}
