.Dashboard {
  height:100%;
  display:flex;
  flex-direction:column;
  padding:20px;
  gap:20px;
}

.dashboard-content {
  flex-grow:1;
  overflow-y:scroll;
}

.dashboard-content::-webkit-scrollbar {
  display: none;
}

.dashboard-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
