.Header {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
  padding:10px 20px;
}

.Header .logo {
  display:flex;
  flex-direction:row;
  align-items:center;
}

.Header .logo p {
  font-size: 28px;
  font-weight: bold;
  color: #2d5016;
  margin-right:10px;
}

.Header .logo span {
  color: #666;
}

.Header .profile {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  height:50px;
  width:50px;
  border-radius:25px;
  background:#2d5016;
}
.Header .profile a {
  color:white;
  font-weight:bold;
  font-size:30px;
  text-decoration:none;
}
