.UnauthenticatedApp {
  display:flex;
  flex-direction:column;
  justify-content:center;
  height:100vh;
  width:100%;
  max-width:500px;
  margin:0 auto;
}

.UnauthenticatedApp form {
  margin:0 10px;
}
